<meta itemprop="name" content="{videoResources.snippet.title}" />
<meta itemprop="duration" content="{videoResources.contentDetails.duration}" />
<meta itemprop="thumbnailUrl" content="{videoResources.snippet.thumbnails.default.url}" />
<meta itemprop="contentURL" content="{settings.youtubeUrl}{id}" />
<meta itemprop="embedURL" content="{settings.youtubeUrl}{id}{playerParameters}" />
<meta itemprop="uploadDate" content="{videoResources.snippet.publishedAt}" />
<span itemprop="description" content="{videoResources.snippet.description}" />